// Fonts Family
$font-en-primary: "Aminute", sans-serif;

//Container
$container-max-width: 326px;

// COLOR
$color-gray: #cfcfcf;
$color-primary: #265bc4;
$color-secondary: #fc5400;
$color-black: #000000;
$color-white: #ffffff;

// FONT SIZE
$font-title-size: 38px;
$font-title-md-size: 18px;
$font-dis-size: 16px;
